<ion-header>
  <ion-toolbar color="guinda">
    <ion-title>Filosofía institucional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Misión</ion-card-title>
    </ion-card-header>

    <img src="assets/images/ues.jpg">
    
    <ion-card-content class="ion-text-justify">
      <p>La Universidad Estatal de Sonora tiene la misión de formar profesionistas integrales y competentes en los ámbitos local, nacional e internacional, a través de un proceso educativo incluyente, equitativo y de calidad, que contribuyan al desarrollo científico, tecnológico, cultural y sostenible de la sociedad.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Visión 2030</ion-card-title>
    </ion-card-header>
    
    <ion-card-content class="ion-text-justify">
      <p>La Universidad Estatal de Sonora es reconocida en el estado por la calidad de sus procesos académicos y administrativos, para el cumplimiento de sus funciones de docencia, investigación, vinculación y extensión, y la formación de ciudadanos y profesionistas de alto nivel, que contribuyan al desarrollo sostenible en la sociedad.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Política de Calidad</ion-card-title>
    </ion-card-header>
    
    <ion-card-content class="ion-text-justify">
      <p>La Universidad Estatal de Sonora está comprometida con la formación profesional de sus estudiantes, a través de una oferta educativa pertinente y una administración ordenada, eficiente y transparente, con un enfoque de mejora continua en sus procesos, logrando egresados de excelencia, con habilidades y competencias para resolver las necesidades del entorno social y del medio ambiente.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
