<ion-header>
  <ion-toolbar color="guinda">
    <ion-title class="ion-text-center">Carreras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Crear una lista -->
  <ion-list>
    <!-- Crear elementos de la lista -->
    <ion-item *ngFor="let carrera of lista">
      <ion-button color="warning">
        <ion-icon name="book" color="light"></ion-icon>
      </ion-button>
      <!-- De acuerdo a la iteración, asignar nombre de elemento -->
      {{carrera.titulo}}
    </ion-item>
  </ion-list>
</ion-content>
