<ion-header>
  <ion-toolbar color="guinda">
    <ion-title>Servicios Estudiantiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="people" color="light"></ion-icon>
      </ion-button>
      Programa Institucional de Tutorías
    </ion-item>

    <ion-item>
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="calendar" color="light"></ion-icon>
      </ion-button>
      Programa de Apoyo y Seguimiento Académico
    </ion-item>
    
    <ion-item>
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="heart" color="light"></ion-icon>
      </ion-button>
      Servicio Social
    </ion-item>
    
    <ion-item>
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="medkit" color="light"></ion-icon>
      </ion-button>
      Programa de Salud Universitaria
    </ion-item>
    
    <ion-item>
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="briefcase" color="light"></ion-icon>
      </ion-button>
      Prácticas Profesionales
    </ion-item>
    
    <ion-item>
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="football" color="light"></ion-icon>
      </ion-button>
      Becas y Estímulos
    </ion-item>
    
    <ion-item>
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="heart-half" color="light"></ion-icon>
      </ion-button>
      Programa de Educación en Valores
    </ion-item>
    
    <ion-item>
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="leaf" color="light"></ion-icon>
      </ion-button>
      Programa de Educación Ambiental
    </ion-item>
  </ion-list>
</ion-content>
