<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Servicios Escolares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button color="secondary">
        <ion-icon slot="start" name="star"></ion-icon>
        Becas
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button color="success">
        <ion-icon slot="start" name="star"></ion-icon>
        Biblioteca
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button color="warning">
        <ion-icon slot="start" name="star"></ion-icon>
        Servicio Social
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-button color="danger">
      <ion-icon slot="start" name="star"></ion-icon>
      Prácticas Profesionales
    </ion-button>
  </ion-item>
</ion-content>
